.product {
  padding: 30px;

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-name {
    color: #222;
    font-weight: 500;
  }

  &-desc {
    color: #999;
    position: relative;
  }

  &-image {
    border: 1px solid lightgrey;
    border-radius: 4px;
    height: 100px;
    width: 100px;
    position: relative;

    .img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-tagline {
    background: indigo;
    color: white;
    font-weight: bold;
    padding: 2px 10px;
    width: fit-content;
    border-radius: 4px;
  }

  &-plan {
    display: inline;
    position: absolute;
    right: 10px;
    bottom: 17%;

    &-link {
      color: indigo;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }

  }


}

.gift {
    padding: 30px;
    
  &-card {
    padding: 20px;
  }

  &-tag {
    background: black;
    color: white;
  }
}
